@use 'layout';
@use 'helpers' as helpers;
@use 'base';
@use 'components';
@use 'pages';


//commons


//fin commons


// partie welcome header






.overlay-parent {
    background:#fff;
}
.welcome-overlay::after{
    height:700px;
    background:url('../images/welcomebg.svg');

}