@use '../helpers' as helpers;
.button-md{

    border-radius:1.2rem;
}

a.button-md:hover{
    
    background:helpers.$blueMiddle;
}

.button-md-ligh{

    border-radius:1.2rem;
}

a.button-md-light:hover{
    
    color:helpers.$greyLight;
}




.button-md-cercle{
border-radius:40%;
}


.button-md-cercle:hover{
    background:helpers.$blueMiddle;
}

.button-lang{
    border-radius:30px;
}


.button-md-step{
    border:1px solid helpers.$blueDark;
    border-radius:50%;
    z-index:1;
    font-weight:600;
    font-size:1.2rem;
    color:helpers.$blueDark;
    background:helpers.$whitePrimary;
}
.button-md-step:hover{

    color:helpers.$whitePrimary;
    background:helpers.$blueDark;
}






//burger menu

.btn-menu::after {
    -webkit-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0);
}
.btn-menu::before, .btn-menu::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;

    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.btn-menu::before, .btn-menu::after, .btn-menu span {
    top:50%;
    background-color: helpers.$blueDark;
    color:helpers.$blueDark;
    -webkit-transition: all ease 0.238s;
    -moz-transition: all ease 0.238s;
    transition: all ease 0.238s;
}
.btn-menu::before {
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
}.btn-menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
}

.btn-menu {
    display: block;
}
.btn-menu {

    position: relative;
    background: transparent;
    cursor: pointer;
    width: 26px;
    height: 16px;
    color:helpers.$blueDark;
    -webkit-transition: all ease 0.238s;
    -moz-transition: all ease 0.238s;
    transition: all ease 0.238s;}