@use '../helpers' as helpers;
.button-md{

    border-radius:1.2rem;
}

a.button-md:hover{
    
    background:helpers.$blueMiddle;
}

.button-md-ligh{

    border-radius:1.2rem;
}

a.button-md-light:hover{
    
    color:helpers.$greyLight;
}




.button-md-cercle{

    border-radius:50%;
}


.button-md-cercle:hover{
    background:helpers.$blueMiddle;
}