
@media (min-width: 640px) {
  
}

@media (min-width: 768px) {



}

@media (min-width: 1024px) {
  .flex-burger  {
    display:none;
   }
}
  
@media (min-width: 1280px) {
   
}


@media (min-width: 1536px) {
   
}

@media (min-width: 475px) {

  }
