@use '../helpers' as helpers;

.blueInit{
color: helpers.$blueInit;
}


.white{
    color:#fff;
}
.whiteBg{
    background:#fff;
}



    .greyLight{
        color:helpers.$greyLight;
    }

    .grey{
        color:helpers.$grey;
    }

    .greyDark{
        color:helpers.$greyDark;
    }

    .yellowDark{
        color:helpers.$yellowDark;
    }




    .green-primary{
        color:helpers.$greenPrimary;
    }

    .green-primary-bg{

        background:helpers.$greenPrimary;
    }
.blue-middle-bg{
    background:helpers.$blueMiddle;
}