@use '../helpers' as helpers;

*{
    font-family: "Heebo";
}
*, ::before, ::after {
    box-sizing: none;
   
}

a{
    text-decoration: none;
    color:helpers.$blueInit;
}

a:active,a:hover{
    color:none;
}