.font-bold{
    font-weight:700 ;
}

.font-xxl {
    font-size:2.5rem;
}

.font-heebo{
    font-family:'Heebo sans-serif';
}

.text-left{
    text-align:left;
}

.text-center{
    text-align:center;
}

.text-right{
    text-align:right;
}