@use '../helpers' as helpers;
// partie header
ul.flex-nav {
    margin-top:1rem !important;
    padding:0;
   
}

nav.nav-desktop{
    display:none;
}

.ht-100{
    height:100px;
}

.column-grow{width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;}
.flex-nav-lang{
  display:flex;
}
.flex-nav li{
    display:inline-block;
    list-style-type: none;
    margin-right:1rem;
    font-size:0.9rem;
    font-family:"Poppins";
    font-weight:400;
}
.flex-welcome-buttons{
  padding:0;
}
.flex-welcome-buttons li{
  display:inline-block;
  list-style-type: none;
  margin:0.5rem 1rem 0.5rem 0rem;
  font-family:"Poppins";
  font-weight:500;
}

.flex-nav-lang li{
  display:inline-block;
  list-style-type: none;
  margin-left:0.5rem;
  font-size:0.9rem;
  font-family:"Poppins";
  font-weight:400;
}


.header .img-indh{
    display:none;
    margin-left:1rem;

}


.nav-mobile ul li:not(:last-of-type):hover{
background:helpers.$whitePrimary;
color:helpers.$blueDark;
}
.nav-mobile ul li:not(:last-of-type) a:hover{
  background:helpers.$whitePrimary;
  color:helpers.$blueDark;
  }
// fin partie header


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: helpers.$blueDark;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
    
 
  .sidenav a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: helpers.$whitePrimary;
    display: block;
    transition: 0.3s;
  
  }

  .sidenav a.blueDark {
    margin-top:0.5rem;
    background: #fff;
    color:helpers.$blueDark;
    border:2px solid helpers.$blueInit;
  }

  .sidenav a:hover{
    color: #f1f1f1;
  }

  
  .sidenav .closebtn {
    position: absolute;
    top: 1rem;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

