//blue collection
$blueInit:#0969C9;
$blueMiddle:#0961AA;
$blueDark:#0D3A74;
$blueDarkNight:#4B5164;

$yellowDark:#fecc15;

//gray
$greyLight:#f5f1ee;
$grey:#cccdce;
$greyDark:#afb0b2;

$greyBlue:#7A839E;

$greyInit:#FCFCFC;

//green
$greenPrimary:#64D88D;
$greenInit:#ECFDF5;
$greenDark:#059669;


//white
$whitePrimary:#fff;


//red
$redInit:#FEE2E2;
$redDark:#EF4444;