//blue collection
$blueInit:#0969C9;
$blueMiddle:#0961AA;
$blueDark:#0D3A74;
$blueDarkNight:#4B5164;

//gray
$greyBlue:#7A839E;
$greyLight:#aeaeae;
$greyInit:#FCFCFC;

//green
$greenPrimary:#64D88D;
$greenInit:#ECFDF5;
$greenDark:#059669;


//white
$whitePrimary:#fff;


//red
$redInit:#FEE2E2;
$redDark:#EF4444;