//blue collection
$blueInit:#0969C9;
$blueMiddle:#0961AA;
$blueDark:#0D3A74;
$blueDarkNight:#4B5164;

//gray
$greyBlue:#7A839E;
$greyLight:#aeaeae;

//green
$greenPrimary:#64D88D;


//white
$whitePrimary:#fff;