

@forward  '../pages/accueil';
@forward  '../pages/pourquoi_irchad';
@forward  '../pages/contact';
 @forward  '../pages/soumissionner';
 @forward  '../pages/login';
 @forward  '../pages/programme';
 @forward  '../pages/apropos';
 @forward  '../pages/faq';
 @forward  '../pages/contact_single';
@forward  '../pages/responsive';