@use '../helpers' as helpers;
//contact secton
.contact-single .card {
    width:100%;
    position:relative;
    height:100%;
    padding: 30px;
    box-shadow:0 3px 6px  rgba(0, 0, 0, 0.159)  ;
    margin-bottom:2rem;
    p{
    color :helpers.$greyBlue;
    }

  }



    //contact secton