@use '../helpers' as helpers;
//contact secton
.faq .card {
    position:relative;
    width: 90%;
    padding: 10px 30px;
    box-shadow:0 3px 6px  rgba(0, 0, 0, 0.159)  ;
    margin-bottom:2rem;
    p{
    color :helpers.$greyBlue;
    }
    &:after {
        content: ' ';
        position:absolute;
        right:0;
        top:10%;
        width: 3px;
        height: 100%;
    }

    h3{
      font-weight:500;
      font-size:1rem;
      color:helpers.$blueInit;
    }
  }



    //contact secton