@use '../helpers' as helpers;

@media (min-width: 475px) {
  .px-xxs-2{
    padding-left:0.6rem;
    padding-right:0.6rem;
  }
  }

@media (min-width: 640px) {

}

@media (min-width: 768px) {
  .px-md-2{
    padding-left:0.6rem;
    padding-right:0.6rem;
  }
}

@media (min-width: 1024px) {
  .contact-section .field-lg-row{
       display:flex;
       justify-content:space-between;
       align-items: center;
       }

       .contact-section .field-lg-input{
           padding:0 0rem 0 0rem;
           margin:1rem 0;
       
       
       }
       
       .contact-section .form-lg-input{
           width:calc(100% - 3rem);
           padding:1rem 1rem;
     
           font-size:1rem;
           border:1px solid helpers.$greyBlue;
       }


       .soumissionner .field-lg-row{
        display:flex;
        justify-content:space-between;
        align-items: center;
        }
 
        .soumissionner .field-lg-input{
            padding:0 0rem 0 0rem;
            margin:1rem 0;
         
        
        }
        
        .soumissionner .form-lg-input{
            width:calc(100% - 2rem);
            padding:0.35rem 0.5rem;
            font-size:1rem;
            border:1px solid helpers.$greyBlue;
        }
        .soumissionner .form-lg-input-one{
          width:calc(100% - 1rem);
          padding:0.35rem 0.5rem;
          font-size:1rem;
          border:1px solid helpers.$greyBlue;
      }

        .soumissionner select.form-lg-input{
          width:calc(100% - 1.6rem);
          padding:0.35rem 0.5rem;
          font-size:1rem;
    
          border:1px solid helpers.$greyBlue;
      }




}
  
@media (min-width: 1280px) {
   
}


@media (min-width: 1536px) {
   
}