@use '../helpers' as helpers;
//contact secton
.soumissionner .field-row {
  justify-content: center;
  align-items: center;
}
.soumissionner .field-input {
  padding: 0 0rem;
  margin: 1rem 0;
}

.soumissionner .form-input,
.soumissionner .form-lg-input-one {
  border-radius: 4px;
}

.soumissionner .form-input {
  width: calc(100% - 0rem);
  padding: 0.35rem 0.5rem;
  font-size: 1rem;
  border: 1px solid helpers.$greyBlue;
}

.soumissionner select.form-input {
  width: 100%;
  padding: 0.35rem 0.5rem;
  font-size: 1rem;
  border: 1px solid helpers.$greyBlue;
}

.soumissionner .column-11 h4 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: helpers.$blueDark;
}
.soumissionner .column-11 p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.soumissionner .column-11 h3 {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
}
.soumissionner .column-11 p.second-par {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.my-steps::after {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: 0px;
  background: helpers.$blueDark;
  width: 1px;
  z-index: -1;
  height: 100%;
}
//contact secton

.logical-fields {
  display: none;
}

.minimized {
  display: none;
}
#contentForm{
    min-height:300px;
}
ul#form-errors li{
    list-style-type: disc;
}